<div class="video-post">
  <video controls class="w-100">
    <source src="<%= url_for(post.media_file) %>" type="<%= post.media_file.content_type %>">
    Your browser does not support the video element.
  </video>
</div>
